.black-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 250px;
  // background-color: red;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8) 20%, rgba(0, 0, 0, 0.8) 80%, rgba(0, 0, 0, 0.5));
  display: flex;
  flex-direction: row;
  // align-items: center;
  // justify-content: center;
  padding: 24px;
  padding-left: 20%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-family: sans-serif;
}

.title {
  padding-left: 48px;
  color: white;
  font-size: 24px;
}

.gradient-rule {
  height: 1px;
  // width: 100%;
  width: 400px;
  // align-self: stretch;
  background-image: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.8), transparent);
  margin: 16px 0;
}

.message {
  padding: 24px;
  padding-left: 64px;
  color: white;
  font-size: 18px;
}

.spacer {
  flex-grow: 1;
}

.main-menu {
  display: flex;
  flex-direction: column;
  height: 100%;

  .rule {
    height: 1px;
    align-self: stretch;
    background-image: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.8), transparent);
    margin: 0px 0;
  }

  .top-bar {
    height: 100px;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .content {
    flex-grow: 1;
  }

  .bottom-bar {
    height: 75px;
    background-color: rgba(0, 0, 0, 0.8);
  }
}